*{
    font-family: Helvetica;
    margin: 0px
}

.banerLewy, .blokLewy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
}

.banerPrawy, .blokPrawy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
}

.blokGlowny, .stopka{
    background-color: rgb(240, 234, 226);
    padding: 120px;
}

table, td{
    border: 1px solid rgb(130, 69, 85);
}

a{
    color: rgb(240, 234, 226);
}

.baner, .blokPodGlowny{
    display: flex;
}